html {padding: 2rem}
nav {display: flex; padding: 1rem}
.nav-item { padding-left: 2rem; font-size: 1.5rem; }
.navbar-brand {font-size: 2rem; font-weight: bold}
a { text-decoration:none !important } 
a:hover { text-decoration:none !important }
.logo { width: 50px; height: auto; }